body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

#header {
    background-color: #39b3d7;
}

#home-btn {

color:white;
font-size:20px;
}

.navbar-inverse .navbar-nav > li > a {
    color: white;
}

.table tbody > tr > th {
    text-align: right;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#login-container-partial {
    float: left;
    color: white !important;
}

#home-page-container {
    width: 50%;
    margin: auto;
    text-align: center;
    margin-top: 200px;
}


    #home-page-container .main-btn {
        width: 200px;
        height: 100px;
        line-height: 82px;
        font-size: 20px;
        color: white;
    }

    .checkbox{
        float:right;
    }